# requirements.txt
click==8.2.1
dearpygui==2.0.0
gprof2dot==2024.6.6
iniconfig==2.1.0
minimalmodbus==2.1.1
modbus_tk==1.1.5
msgpack==1.1.0
packaging==25.0
pluggy==1.6.0
-e git+https://github.com/QuickRecon/ppk2-api-python.git@9f41f72efd09e59b0aae97cd919e468129388dbd#egg=ppk2_api
pylru==1.2.1
pyserial==3.5
pytest==8.3.5
pytest-profiling==1.8.1
python-can==4.5.0
-e git+https://github.com/shaybox/riden.git@ecbda543cf566346dd28558d957b4aa7fe116a83#egg=Riden
sarge==0.1.7.post1
setuptools==80.9.0
six==1.17.0
typing_extensions==4.13.2
wrapt==1.17.2